@tailwind base;
@tailwind components;
@tailwind utilities;

.Typewriter .Typewriter__wrapper {
  color: #f72398;
  font-family: "roboto";
  font-size: 20px;
  font-weight: bold;
}
.ant-progress-inner {
  background-color: #333 !important;
}

.custom-notification .ant-notification-notice-message {
  color: #f72398 !important; /* Example text color */
}

.custom-notification .ant-notification-notice-close {
  color: #f72398 !important;
}
.portfolio-modal-container::after {
  content: "";
  clear: both;
  display: table;
}
